body {
    font-family: $font;
}

a {
    text-decoration: none;
}

nav ul {
    list-style: none;
}

h1 {
    @include grandezzaTesti("size", 1.5em);
    @include grandezzaTesti("weight", bold);
}

h2 {
    @include grandezzaTesti("size", 3em);
    @include grandezzaTesti("weight", bold);
}
