header div {
    display: flex;
    justify-content: space-between;
    padding-top: $paddingTopBottom;
    padding-bottom: $paddingTopBottom;
    padding-left: $paddingRightLeft;
    padding-right: $paddingRightLeft;
}

ul {
    display: flex;
    flex-direction: row;
}

ul li a {
    margin-right: 20px;
}

#hero {
    display: flex;
}

#hero > div {
    flex-basis: 50%;
}
#hero div img {
    position: absolute;
    left: 800px;
    top: 100px;
}
h2, p, #bottoni {
    margin: $marginTesti;
}

#grigliaImmagini {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: $marginTesti;

}